.login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
}

.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

.login-header {
    background: #323232;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.login-container {
    background: #ebebeb;
    padding: 12px;
}

.login p {
    padding: 12px;
}

.login-input-text {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    background: #fff;
    border-color: #bbb;
    color: #555;
}

.login-input-submit {
    display: block;
    padding: 15px 20px;
    margin-top: .8em;
    background: #222; /*FallBack*/
    background: rgba(0, 0, 0, .6);
    text-align: center;
    color: #fff;
    font-size: 1em;
    border-radius: 3px;
    transition: all .4s ease-in;
}

.login-input-submit:hover {
    background: #474747;
}

.login-input-submit:focus {
    background: #474747;
}